fastapi[standard]
pydantic-settings
tortoise-orm[asyncmy]
tortoise-orm[accel]
tortoise-orm==1.1.5
asyncmy
celery
chardet
arrow
apscheduler<4
loguru
redis
pyjwt
arrow
rich
aiohttp
orjson<4
pydantic<3
openpyxl
