@import 'layout.less';

.filter-box {
  margin-bottom: 10px;

  .button-bar {
    margin-top: 5px;
    text-align: right;
  }
}

.button-bar > div,
.button-bar > button,
.button-bar > .el-button {
  padding: 0 20px 0 20px !important;
  margin: 0 10px 0 0 !important;
}

.button-bar > .el-dropdown {
  padding: 0 !important;
  margin: 0 10px 0 0 !important;
}

.clickable {
  cursor: pointer;
  color: var(--el-color-primary);
  display: flex;
  align-items: center;
}
